/* style.css */



body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(240, 240, 240, 0.8); /* Add semi-transparent background */
    padding: 0px;
}

h1 {
    font-size: 2.25rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 img {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    margin-right: 10px; /* Space between logo and text */
}

h2 {
    font-size: 1.5rem;
    color: #666;
    padding: 5px;
    border-radius: 5px;
}

/* Ajout pour l'animation de révélation des éléments */
#header-text,
#main-content,
.progress-bar,
#location,
#completion-percentage,
.countdown,
.social-icons {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

#header-text.show,
#main-content.show,
.progress-bar.show,
#location.show,
#completion-percentage.show,
.countdown.show,
.social-icons.show {
    opacity: 1;
    transform: translateY(0);
}


main {
    position: relative; /* Ensure positioning context for pseudo-element */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Overlay with 40% opacity */
    z-index: 1; /* Ensure overlay is on top of the background but below the content */
}

.progress-bar {
    width: 80%;
    max-width: 600px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
    z-index: 2; /* Ensure content is above the overlay */
}

.progress-bar-inner {
    width: 0%;
    height: 100%;
    background-color: #666;
    border-radius: 10px;
    transition: width var(--progress-bar-duration) ease-in-out;
}

#location {
    font-size: 1.3rem;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    z-index: 2; /* Ensure content is above the overlay */
}

/* Ajoutez ces styles pour rendre le numéro de téléphone cliquable et stylisé */
#location a {
    text-decoration: none; /* Supprimez la décoration de lien par défaut */
    color: #fff; /* Couleur du lien */
    font-weight: bold; /* Mettez en gras pour attirer l'attention */
    transition: color 0.3s ease; /* Transition de couleur douce */

    /* Optionnel : Curseur pointer pour indiquer que c'est un lien cliquable */
    cursor: pointer;
}

#location a:hover {
    color: #0056b3; /* Couleur du lien au survol */
}


#completion-percentage {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 2; /* Ensure content is above the overlay */
}

.countdown {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 2; /* Ensure content is above the overlay */
}

.social-icons {
    margin: 30px 0;
    z-index: 2; /* Ensure content is above the overlay */
}

.social-icon {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 1.9rem;
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for hover effect */
}

.social-icon:hover {
    color: #007bff; /* Change color on hover */
    transform: scale(1.2); /* Add scaling effect on hover */
}

footer {
    background-color: rgba(240, 240, 240, 0.8); /* Add semi-transparent background */
    padding: 8px;
}

@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .progress-bar {
        width: 90%;
    }

    #location {
        font-size: 0.875rem;
    }

    #completion-percentage {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    .progress-bar {
        width: 95%;
    }

    #location {
        font-size: 0.75rem;
    }

    #completion-percentage {
        font-size: 1rem;
    }

    .social-icon {
        font-size: 1.25rem;
        margin: 0 5px;
    }
}
